<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!--将日志输出到控制台-->
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
	   <!--输出的级别为INFO-->
	  <param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			 <!--日志输出的格式-->
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p $r [%t] %C.%M(%L) | %m%n" />
		</layout>
	</appender>
	 <!--将日志输出到文件中，并且每隔一定的时间产生一个新的日志文件-->
	<appender name="Info" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../Mail126TestLogfile.log" />
		<param name="Threshold" value="INFO" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		 <!--每隔一定的时间产生一个新的日志文件，文件名称的格式为value属性对应的值-->
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p $r [%t] %C.%M(%L) | %m%n" />
		</layout>
		<!--过滤日志级别，确保该文件中只能保存INFO和WARN级别的日志-->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="WARN" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="Error" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../Mail126TestLogfile.log" />
    <param name="Threshold" value="ERROR" />
    <param name="Append" value="true" />
    <param name="Encoding" value="UTF-8" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p $r [%t] %C.%M(%L) | %m%n" />
    </layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="ERROR" />
    </filter>
	</appender>

	<root>
		<appender-ref ref="Info" />
		<appender-ref ref="Error" />
		<appender-ref ref="Console" />
	</root>
</log4j:configuration>